<html>
<meta http-equiv="refresh" content="300">
<title> Vue template with axios </title>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="script.js" type="module"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">

<body>
    <div id="app">
        <table id="table" class="styled-table">
            <tr>
                <th>Time</th>
                <th>Temperature</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{item['time']}}</td>
                <td>{{item['temp']}} °C</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>